@import "../../styles/share.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  height: 180px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  @extend .btn;
}

.link {
  @extend .link;
}

.title {
  @extend .title;
}